/* This file is for your main application css. */

@import "~bootstrap/scss/bootstrap";

.nav-text {
  color: white !important;
}

.task-actions, .user-info, .delete-btn {
  float: right !important;
}

.task-info {
  float: left !important;
}
