<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TaskTrackerV3 · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark row">
        <%= if @current_user do %>
          <!-- TODO: change link -->
	        <%= link "Tasks", to: Routes.task_path(@conn, :index), class: "navbar-brand nav-text" %>
	      <% else %>
          <!-- TODO: change link -->
	        <%= link "Tasks", to: Routes.page_path(@conn, :index), class: "navbar-brand nav-text" %>
	      <% end %>

        <ul class="navbar-nav">
	        <li class="nav-item">
            <!-- TODO: change link -->
	          <%= link "New Task", to: Routes.task_path(@conn, :new), class: "nav-text" %>
	        </li>
        </ul>

        <div class="ml-auto nav-text">
          <%= if @current_user do %>
            <%= @current_user.username, class: "nav-text" %> |
            <!-- TODO: change link -->
            <%= link "Logout", to: Routes.session_path(@conn, :delete), method: :delete, class: "btn btn-warning" %>
          <% end %>
        </div>
      </nav>

      <div class="row">
        <%= render @view_module, @view_template, assigns %>
      </div>
    </div>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
